body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}
header {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px;
    color: white;
    border: 1px solid white;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.Charakter {
    background: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    
}
h2 {
    color: red; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4 {
    color: rgb(172, 172, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
p {
    line-height: 2;
    color: rgb(223, 213, 213);
}

